* {
  margin: 0;
  padding: 0 0.3rem;
  font-family: CircularStd;
  color: #343434;
}

// Navbar Styles
.page {
  height: 100%;
  width: 100%;
}

.active {
  background-color: aqua;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  position: sticky;
  top: 0;

  .logo {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    // color: ;
  }

  ul {
    display: flex;

    li {
      list-style-type: none;

      a {
        display: block;
        text-decoration: none;
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
      }
      a:not(.active):hover {
        background-color: aquamarine;
      }
    }
  }

  .hamburger-menu {
    font-size: 1.75rem;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: start;

    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
    }

    ul.menuOpen {
      display: block;
    }

    li {
      width: 100%;
      text-align: center;
      a {
        margin: 0.5rem 0.5rem;
      }
    }

    .hamburger-menu {
      display: block;
    }
  }
}

.Section {
  // background-color: aqua;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contact-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.5rem;

    span {
      color: #c5c6cd;
      font-size: 1.5rem;
      //   font-weight: 500;
    }
    span:nth-child(2),
    span:nth-child(3) {
      color: #343434;
      font-size: 3rem;
      font-weight: 700;
    }

    span:nth-child(4) {
      color: #2a2a2a;
      font-size: 2.5rem;
      margin: 1rem 0;
    }
    p{
        margin-top: 2rem;
        color: #8A919B;
        font-size: 1.5rem;
    }

    span:nth-child(6) {
      color: #2a2a2a;
    }
  }

  .form-submit {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: #858585;

    input {
      height: 40px;
      width: 400px;
      font-size: 1rem;
      padding: 1.5rem;
      border: none;
      border-bottom: solid 2px #ebebeb;
    }

    input:nth-child(4) {
      height: 0.2rem;
    }

    textarea {
      height: 120px;
      padding: 1.5rem;
      font-size: 1rem;
      margin-top: 0.25rem;
      border: none;
      border-bottom: solid 2px #ebebeb;
    }
    button {
      border: none;
      margin: 1rem 0;
      padding: 1rem 0;
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
}
